<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Expense Tracker</title>

    <link rel="stylesheet" href="../static/index.css">
</head>

<body>

    <div class="container">

        <h1>Expense Tracker</h1>

        <div class="balance-box">
            <p>Total Balance</p>
            <h2 id="balance">₹0</h2>
        </div>

        <form id="transactionForm">

            <input 
                type="text"
                id="title"
                placeholder="Enter Title"
                required
            >

            <input 
                type="number"
                id="amount"
                placeholder="Enter Amount"
                required
            >

            <select id="type">

                <option value="income">Income</option>

                <option value="expense">Expense</option>

            </select>

            <button type="submit">
                Add Transaction
            </button>

        </form>

        <div class="transactions">

            <h3>Transactions</h3>

            <div id="transactionList"></div>

        </div>

    </div>

    <script src="../static/index.js"></script>

</body>
</html>